{% extends 'flatpages/default.html' %}
{% block title %}
Orders
{% endblock title %}

{% block content %}
<h1>Велосипеды</h1>
<a href="/bikes/create/">Добавить</a>
<table class="lead">
    <tr>
        <td>Модель</td>
        <td>Цвет</td>
        <td>Вледелец</td>
        <td>Номер рамы</td>
    </tr>
{% for bike in bikes %}
    <tr>
        <td>{{ bike.model }}</td>
        <td>{{ bike.color.name }}</td>
        <td>{{ bike.user.username }}</td>
        <td>{{ bike.frame_namber }}</td>
    </tr>
{% endfor %}
</table>
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}